.vscode
.claude/
.idea
.humanize*
build/
.cache/
*.code-workspace
/*.json
/*.bc
/*.ll
/*.s
/*.txt
/*.out
/*.log
/*.dot
/.bash_profile
/.bashrc
/.gitconfig
/.gitmodules
/.profile
/.ripgreprc
/.zprofile
/.zshrc
/HEAD
/config
/hooks
/objects
/refs
agentplan
