.vscode
.claude/
.idea
.humanize*
build/
.cache/
__pycache__/
*.pyc
*.code-workspace
/*.json
/*.bc
/*.ll
/*.s
/*.txt
/*.out
/*.log
/*.dot
/.bash_profile
/.bashrc
/.gitconfig
/.gitmodules
/.profile
/.ripgreprc
/.zprofile
/.zshrc
/HEAD
/config
/hooks
/objects
/refs
/.plan
/lona_cache
/.pytest_cache


tmp*
draft.md
plan.md

